<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songyinglong.pervue.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.songyinglong.pervue.entity.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="nameZh" property="nameZh"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, nameZh
    </sql>
    <select id="selectPageVo" resultType="com.songyinglong.pervue.vo.RoleVO">
        SELECT
	r.*,
	GROUP_CONCAT( m.id ) mids,
	GROUP_CONCAT( m.`name` ) mnames
FROM
	role r
	LEFT JOIN menu_role mr ON r.id = mr.rid
	LEFT JOIN menu m ON mr.mid = m.id
	<where>
        <if test="vo.nameZh!=null and vo.nameZh!=''">
            and r.nameZh like concat('%',#{vo.nameZh},'%')
        </if>
    </where>
GROUP BY
	r.id
    </select>

</mapper>
