<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songyinglong.pervue.mapper.ScenicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.songyinglong.pervue.entity.Scenic">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="level" property="level" />
        <result column="type" property="type" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="ticket" property="ticket" />
        <result column="pic" property="pic" />
        <result column="introduction" property="introduction" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, level, type, province, city, district, ticket, pic, introduction
    </sql>

    <select id="selectPageVo" resultType="com.songyinglong.pervue.vo.ScenicVO">
       SELECT
	    s.*, p.province provinceName,
        IF (
            c.city = '',
            p.province,
            c.city
        ) cityName,
        IF (
            d.district = '',
            c.city,
            d.district
        ) districtName,
				t.name typeName
        FROM
            t_scenic s
        LEFT JOIN nation p ON s.province = p.id
        LEFT JOIN nation c ON s.city = c.id
        LEFT JOIN nation d ON s.district = d.id
				LEFT JOIN t_type t on s.type=t.id
		<where>
            <if test="vo.level!=null and vo.level!=-1">
                s.`level`= vo.levelId
            </if>
            <if test="vo.type!=null and vo.type!=0">
                s.`type`= vo.type
            </if>
            <if test="vo.province!=null and vo.province!=0">
                s.province= vo.province
            </if>
        </where>
    </select>
</mapper>
